<h1>Listing Zombies</h1>
 
<table>
  <tr>
    <th>Name</th>
    <th>Graveyard</th>
    <th>Longitude</th>
    <th>Latitude</th>
  </tr>
 
  <% @zombies.each do |zombie| %>
    <tr>
      <td><%= zombie.name %></td>
      <td><%= zombie.graveyard %></td>
      <td><%= zombie.longitude %></td>
      <td><%= zombie.latitude %></td>
    </tr>
  <% end %>
</table>

<script src="http://maps.googleapis.com/maps/api/js"></script>

<%= javascript_include_tag 'create_markers' %>

<div id="googleMap" style="width:1000px;height:500px;"></div>